$color-white: #ffffff;
$color-black: #000000;
$color-primary: #00ffa3;
$color-gray-1: #d1d1d1;
$color-gray-2: #15161d;
$color-gray-3: #e3e3e3;

// background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

$gutter-width: 24px;
